<!-- banner start -->

<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        data-bs-interval="10000"
        *ngFor="let b of bannerResult; let i = index"
        [ngClass]="{ active: i === 1 }"
      >
        <img
          src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}"
          class="d-block w-100"
          alt="Image The movie database"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ b.original_title }}</h5>
          <p>{{ b.overview }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- banner end -->
<div class="container mt-4 p-4">
  <!-- trending movies -->
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <div div class="rowposter">
      <ng-container *ngFor="let t of trendingMovieResult; let i = index">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowimg largeposter"
          alt="Image The movie database"
        />
      </ng-container>
    </div>
  </div>
</div>
